<h1>A breaking news item</h1>
<p>Some really breaking action</p>
<%= link_to 'new article', new_article_path %>

  <% @articles.each do |article| %>
    <div id="article-<%= article.id %>">
      <ul>
        <li>
          <%= article.title %><br />
          <%= article.content %><br />
          <%= "Written by #{article.author} at #{Date.strptime("#{Date.today}", '%Y-%m-%d')}" %>
        </li>
      </ul>
      <h3> Comments </h3>
      <% unless article.comments.empty? %>
        <% article.comments.each do |comment| %>
        <% if comment.email? %>
          <h4>By: <%= comment.email %> </h4>
        <% end %>
        <p>
          <%= comment.body %>
        </p>
        <% end %>
      <% end %>
      <%= link_to 'Add Comment', new_article_comment_path(article) %>
    </div>
  <% end %>
